:root {
    --bgGray: rgba(33, 37, 41, 100);
    --iconGray: rgba(108, 117, 125, 49);
}

* {

}
body {
}
.my-label {
    /*width: 100px;*/
}

.my-data {
    font-weight:bolder;
}

#map {
    width: 100%;
    height: 300px;
    margin: 1em 0;
}
/*#modalContainer {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*margin: 1em 0;*!*/

/*    background-color: var(--bgGray);*/
/*    !*border-radius: 0.75rem;*!*/
/*    !*border: 0rem solid var(--salmon);*!*/
/*    !*box-shadow: 0 0 0.75rem var(--salmon);*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*height: auto;*!*/
/*    left: 50%;*/
/*    !*max-width: 80%;*!*/
/*    !*overflow: hidden;*!*/
/*    !*padding: 0.75rem;*!*/
/*    position: fixed;*/
/*    !*top: 50%;*!*/
/*    !*transform: translate(-50%, -50%) scale(0) rotate(30deg);*!*/
/*    !*transition: 300ms ease-in-out;*!*/
/*    !*width: auto;*!*/
/*    z-index: 1000;*/
/*    transform: translate(-50%, -50%) scale(1);*/

/*}*/
#modalBg {
    width: 100vw;
    height: 100vh;
    background-color: white;
    visibility: hidden;
    opacity: 0.5;

    /*transition: 400ms ease-in-out;*/
    left: 50%;
    position: fixed;
    /*transform: translate(-50%, -50%) scale(0) rotate(30deg);*/
    /*transition: 300ms ease-in-out;*/
    z-index: 1;
    transform: translate(-50%, -50%) scaleY(0);
    transition: 200ms ease-out;
}
/*.singleDayModal {*/

/*}*/
#modalMain, #singleDayModal0, #singleDayModal1, #singleDayModal2, #singleDayModal3, #singleDayModal4 {
    box-shadow: 0 0 1em white;
    width: auto;
    height: auto;
    padding: 4em;
    visibility: hidden;
    background-color: var(--bgGray);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scaleY(0);
    transition: 100ms ease-out;
    position: fixed;
    z-index: 2;
}
#modalBg.active, #modalMain.active, #singleDayModal0.active, #singleDayModal1.active, #singleDayModal2.active, #singleDayModal3.active, #singleDayModal4.active {
    visibility: visible;
    transform: translate(-50%,-50%) scaleY(1);
    transition: 100ms ease-in;
}
.closeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    margin-left: auto;
    padding: 0px;

}
.fa-xmark {
    position: absolute;
    right: 0%;
    top: 0;
    z-index: 100;
    width: auto;
    height: auto;
}
#liveLocation {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 6.5em;
    left: 2em;
    z-index: 2;
}
#coordinates {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 8em;
    left: 2em;
    z-index: 2;

}
/*.liveLocationBg {*/
/*    background-color: #565656;*/
/*    opacity: 50%;*/
/*    z-index: 1;*/
/*}*/
.mapboxgl-ctrl-logo, .mapboxgl-ctrl {
    opacity: 20%;
}
.mapboxgl-ctrl-logo, .mapboxgl-ctrl:hover {
    opacity: 100%;
}
.mapboxgl-popup-content {
    /*display: flex;*/
}
.centroidMarker {
    opacity: 20%;
}
.centroidMarker:hover {
    opacity: 100%;
}
.fa-icon {
    /*TODO: add hover and scaling*/
}
#coordinates {
    display: none;
}
#currentData {
    /*display: none;*/
}
#day0ID {
    margin-right: 0.25em;
}
#day1ID, #day2ID, #day3ID {
    margin: 0 0.25em;
}
#day4ID {
    margin-left: 0.25em;
}
.fa-bars {
    width: auto;
    /*margin: auto;*/
}
.singleDayForecast, .search, .fa-magnifying-glass, .fa-bars, .fa-xmark {
    color: var(--iconGray);
}
.singleDayForecast:hover, .fa-bars:hover, .fa-xmark:hover {
    /*box-shadow: 0 0 0.5em white;*/
    color: white;
    cursor: pointer;
}
.search:hover {
    box-shadow: 0 0 0.5em white;
    color: white;
    cursor: pointer;
}
i {
    height: 100%;
    width: 100%;
}
.fa-bars {
    position: absolute;
    /*top: .7em;*/
    /*right: 1em;*/
    /*transform: translate(95.5%, -90%);*/
    right: 0;
    top: 0;
    /*width: 5em;*/
    /*height: 100%;*/
}
.searchContainer {
    position: relative;
}
#search  {
    width: 200px;
}
.fa-magnifying-glass {
    position: absolute;
    transform: translate(1em, .7em);
    width: 1em;
    height: 1em;
}
#conditionIconRainSun, #conditionIconClouds, #conditionIconClear {
    /*position: absolute;*/
    /*transform: translate(1em, .7em);*/
    width: 1em;
    height: 1em;
}
header {
    position: relative;

}
.searchContainer {
    sition: absolute;
    transform: translateY(-2.75em);
    width: 0;
    height: 0;
}
footer  {
    color: var(--iconGray);
}
.footer40 {
    width: 40%;
    margin-right: 0.25em;
}
.footer20 {
    width: 20%;
    margin: 0 0.25em;

}
.footer20End {
    width: 20%;
    left: 0.25em;

}
.site-footer
{
    /*background-color:#26272b;*/
    /*padding:45px 0 20px;*/
    font-size:15px;
    line-height:24px;
 }
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:var(--iconGray);
}
.site-footer a:hover
{
    color:white;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:var(--iconGray)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:white;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:left
}
.site-footer .social-icons a
{
    width:30px;
    height:30px;
    line-height:30px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    /*background-color:#33353d*/
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color: var(--iconGray);
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color: var(--iconGray);
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}